* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_section {
  width: 500px;
  height: 200px;
  border: 1px solid;
  background-color: #aeaaaa;
  position: relative;
}
.box {
  border: 1px solid;
  width: 100px;
  height: 100px;
}
#box1 {
  background-color: red;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
}
#box2 {
  background-color: blue;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50px;
}
#box3 {
  background-color: green;
  position: absolute;
  text-align: end;
  z-index: 3;
  top: 0;
  left: 110px;
}
