* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #49cbec;
}
.main_section {
  background-color: #aeaaaa;
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}
.box {
  border: 1px solid;
  width: 100px;
  height: 100px;
  text-align: center;
}
#box1 {
  position: static;
}
#box2 {
  position: relative;
  top: 10px;
  left: 110px;
}
#box3 {
  position: absolute;
  top: 10px;
  left: 220px;
}
#box4 {
  position: fixed;
  top: 10px;
  left: 20px;
}
#box5 {
  position: sticky;
  top: 0;
}
.paragraph {
  padding: 20px;
  text-align: justify;
}
